*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E70000;
    width: 100%;
}

.header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo {
    width: 200px; 
    height: auto;
}

.header-user-icon {
    width: 40px;
}
.navbar {
    padding: 0;
}

.botonlupa{
    border: transparent;
    background-color: white;
    margin-right: 20px;
}
.buscador{
    text-align: center;
    margin: 20px;
}
.form-control{
    border: transparent;
    padding: 10;
}

.container-fluid{
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 700px;
    padding: 0;
}
.input-group {
    max-width: 600px;
    margin-left: auto; 
    margin-right: auto;
}

.logo-container{
    margin: 20px;
}

.logo_carrito{
    margin: 20px;
}


